
.RData
data/Barcelona/calendar.csv.gz
data/Barcelona/listings.csv.gz
data/Barcelona/neighbourhoods.csv
data/Barcelona/neighbourhoods.geojson
data/Barcelona/reviews.csv.gz
data/Buenos_Aires/calendar.csv.gz
data/Buenos_Aires/listings.csv.gz
data/Buenos_Aires/reviews.csv.gz
data/listingsCiudades.csv
data/listingsCiudadesLimpio.csv
data/Mallorca/calendar.csv.gz
data/Mallorca/listings.csv.gz
data/Mallorca/reviews.csv.gz
data/Mexico/calendar.csv.gz
data/Mexico/listings.csv.gz
data/Mexico/reviews.csv.gz
data/reviewsCiudades.csv
data/Valencia/calendar.csv.gz
data/Valencia/listings.csv.gz
data/Valencia/reviews.csv.gz
datos/lineas_limite/barcelona_distrito/shapefiles_barcelona_distrito.cpg
datos/lineas_limite/barcelona_distrito/shapefiles_barcelona_distrito.dbf
datos/lineas_limite/barcelona_distrito/shapefiles_barcelona_distrito.prj
datos/lineas_limite/barcelona_distrito/shapefiles_barcelona_distrito.shp
datos/lineas_limite/barcelona_distrito/shapefiles_barcelona_distrito.shx
datos/lineas_limite/municipios_arg/barrios_badata_wgs84.cpg
datos/lineas_limite/municipios_arg/barrios_badata_wgs84.dbf
datos/lineas_limite/municipios_arg/barrios_badata_wgs84.prj
datos/lineas_limite/municipios_arg/barrios_badata_wgs84.shp
datos/lineas_limite/municipios_arg/barrios_badata_wgs84.shx
datos/lineas_limite/municipios_mex/mun.cpg
datos/lineas_limite/municipios_mex/mun.dbf
datos/lineas_limite/municipios_mex/mun.prj
datos/lineas_limite/municipios_mex/mun.shp
datos/lineas_limite/municipios_mex/mun.shx
datos/lineas_limite/recintos_municipales_inspire_peninbal_etrs89/recintos_municipales_inspire_peninbal_etrs89.cpg
datos/lineas_limite/recintos_municipales_inspire_peninbal_etrs89/recintos_municipales_inspire_peninbal_etrs89.dbf
datos/lineas_limite/recintos_municipales_inspire_peninbal_etrs89/recintos_municipales_inspire_peninbal_etrs89.prj
datos/lineas_limite/recintos_municipales_inspire_peninbal_etrs89/recintos_municipales_inspire_peninbal_etrs89.shp
datos/lineas_limite/recintos_municipales_inspire_peninbal_etrs89/recintos_municipales_inspire_peninbal_etrs89.shx
datos/lineas_limite/valencia_distrito/DISTRITOS.dbf
datos/lineas_limite/valencia_distrito/DISTRITOS.prj
datos/lineas_limite/valencia_distrito/DISTRITOS.shp
datos/lineas_limite/valencia_distrito/DISTRITOS.shx
