
.RData
data/Barcelona/calendar.csv.gz
data/Barcelona/listings.csv.gz
data/Barcelona/neighbourhoods.csv
data/Barcelona/neighbourhoods.geojson
data/Barcelona/reviews.csv.gz
data/Buenos_Aires/calendar.csv.gz
data/Buenos_Aires/listings.csv.gz
data/Buenos_Aires/reviews.csv.gz
data/listingsCiudades.csv
data/listingsCiudadesLimpio.csv
data/Mallorca/calendar.csv.gz
data/Mallorca/listings.csv.gz
data/Mallorca/reviews.csv.gz
data/Mexico/calendar.csv.gz
data/Mexico/listings.csv.gz
data/Mexico/reviews.csv.gz
data/reviewsCiudades.csv
data/Valencia/calendar.csv.gz
data/Valencia/listings.csv.gz
data/Valencia/reviews.csv.gz
